.card {
	max-width: vars.rem(540);
	min-width: vars.rem(346);
	width: 80%;
	min-height: vars.rem(330);
	background: vars.$dark-grayish-blue;
	border-radius: vars.rem(15);
	position: relative;
	text-align: center;
	padding: vars.rem(50) 0;

	.divider {
		width: 80%;
		margin: 0 auto;
		height: vars.rem(20);
		background: url(../images/pattern-divider-desktop.svg) center center/cover;
	}

	.btn {
		@include vars.pseudo($display: flex, $w: vars.rem(65), $h: vars.rem(65));
		border-radius: 50%;
		bottom: 0;
		left: 50%;
		background: vars.$neon-green;
		transform: translate(-50%, 50%);
		@include vars.flexer(center, center);
		cursor: pointer;
		transition: box-shadow 0.5s;

		&:hover {
			box-shadow: 0px 0px 30px vars.$neon-green;
		}
	}

	.btn-img {
		background: url(../images/icon-dice.svg) center center/cover no-repeat;
		width: vars.rem(24);
		aspect-ratio: 1/1;
	}
}
