.live {
	width: vars.rem(35);
	aspect-ratio: 1/1;
	border-radius: 50%;
	background: vars.$neon-green;
	animation: pulse 0.9s infinite;
}

@keyframes pulse {
	0% {
		box-shadow: vars.$neon-greener 0 0 0 0;
	}
	75% {
		box-shadow: vars.$neon-green-trans 0 0 0 vars.rem(16);
	}
}
