<script>
	import axios from 'axios';
	import Card from './../components/Card.svelte';
	// import getQuote from '../js/index';

	let result = null;
	let hasQuote = false;

	async function getter() {
		result = null;
		hasQuote = false;
		const URL = 'https://api.adviceslip.com/advice';

		const response = await axios.get(URL);
		const data = await response.data;

		result = data.slip;
		if (result) hasQuote = true;
	}

	function setHasQuote() {
		if (!hasQuote) return;
		console.log('yes');
		hasQuote = false;
	}

	$: {
		console.log(hasQuote);
		if (!hasQuote) {
			getter();
		}
	}
</script>

{#if result == null}
	<div class="live" />
{:else}
	<Card {result} getter={setHasQuote} />
{/if}
