@use './functions.scss' as funcs;
@use './mixins.scss' as mixins;
@use './colors.scss' as colors;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	line-height: 1.5;
	font-family: 'Manrope', sans-serif;
}
a,
a:visited,
a:focus {
	text-decoration: none;
	color: unset;
	cursor: pointer;
}

li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	height: 100%;
	background: colors.$dark-blue;
	@include mixins.flexer(center, center);
}
