<script>
	import Quote from './Quote.svelte';
	import Title from './Title.svelte';

	export let result;
	export let getter;

	async function test() {
		const URL = 'https://api.adviceslip.com/advice';

		const response = await fetch(URL);
		const test = await response.json();

		console.log(test);
	}
</script>

<div class="card">
	<Title number={result.id} />
	<Quote quote={result.advice} />
	<div class="divider" />
	<div class="btn" on:click={test}>
		<div class="btn-img" />
	</div>
</div>
