@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
.card .btn, .container {
  display: flex;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  line-height: 1.5;
  font-family: "Manrope", sans-serif;
}

a,
a:visited,
a:focus {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
  background: #1f2632;
  align-items: center;
  justify-content: center;
}

.live {
  width: 2.1875rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: #52ffa8;
  animation: pulse 0.9s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: #1fff8f 0 0 0 0;
  }
  75% {
    box-shadow: rgba(82, 255, 168, 0) 0 0 0 1rem;
  }
}
.card {
  max-width: 33.75rem;
  min-width: 21.625rem;
  width: 80%;
  min-height: 20.625rem;
  background: #323a49;
  border-radius: 0.9375rem;
  position: relative;
  text-align: center;
  padding: 3.125rem 0;
}
.card .divider {
  width: 80%;
  margin: 0 auto;
  height: 1.25rem;
  background: url(../images/pattern-divider-desktop.svg) center center/cover;
}
.card .btn {
  content: "";
  display: flex;
  position: absolute;
  width: 4.0625rem;
  height: 4.0625rem;
  border-radius: 50%;
  bottom: 0;
  left: 50%;
  background: #52ffa8;
  transform: translate(-50%, 50%);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: box-shadow 0.5s;
}
.card .btn:hover {
  box-shadow: 0px 0px 30px #52ffa8;
}
.card .btn-img {
  background: url(../images/icon-dice.svg) center center/cover no-repeat;
  width: 1.5rem;
  aspect-ratio: 1/1;
}

.title {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.3125rem;
  color: #52ffa8;
}

.quote {
  font-size: 1.5625rem;
  color: white;
  width: 75%;
  margin: 2.1875rem auto 2.5rem;
}
@media only screen and (max-width: 479px) {
  .quote {
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
